# Telegram
CONFIG_BOT_TOKEN="YOUR_BOT_TOKEN"
CONFIG_CHATID="YOUR_CHAT_ID"
CONFIG_ERROR_CHATID="ERROR_LOG_CHAT_ID" (Optional, defaults to CHATID)

# Build
CONFIG_ROM_NAME="rom_name" (e.g, PixelOS)
CONFIG_DEVICE="device_codename" (e.g., spes)
CONFIG_BUILD_TARGET="build_target" (e.g., bacon)
CONFIG_BUILD_TYPE="build_variant" (e.g., userdebug)
CONFIG_JOBS="number_of_jobs" (e.g., 8)

# Upload
CONFIG_PDUP_API="your_pixeldrain_api_key"
CONFIG_GOFILE="true" (Set to true to enable GoFile upload)
