# Telegram
CONFIG_BOT_TOKEN="YOUR_BOT_TOKEN"
CONFIG_CHATID="YOUR_CHAT_ID"
#CONFIG_ERROR_CHATID="" (Optional: If commented out, uses the CHATID above)

# Build
#CONFIG_ROM_NAME="" (Optional: If commented out, uses the folder name)
CONFIG_DEVICE="spes"
CONFIG_BUILD_TARGET="bacon"
CONFIG_BUILD_TYPE="userdebug"
#CONFIG_JOBS="" (Optional: If commented out, uses all cores)

# Upload
CONFIG_PDUP_API="your_pixeldrain_api_key"
CONFIG_GOFILE="true"